<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
     
        <% for( let index = 0; index < user.length; index++ ) { %>
     
            <a href="onemessage?id=<%=user[index].id%>"><%=user[index].user_phone_number%></a>
     
            <% } %>
    <% } %>
         
</body>
</html>